/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body, .background {
	height: 100%;
	padding: 0;
}

html {
    background: #79ffd2;
}

@-webkit-keyframes glow {
  0% {
    border-color: #ddfff4;
  }
  100% {
    border-color: #79ffd2;
  }
}
@-moz-keyframes glow {
  0% {
    border-color: #ddfff4;
  }
  100% {
    border-color: #79ffd2;
  }
}
@-o-keyframes glow {
  0% {
    border-color: #ddfff4;
  }
  100% {
    border-color: #79ffd2;
  }
}
@keyframes glow {
  0% {
    border-color: #ddfff4;
  }
  100% {
    border-color: #79ffd2;
  }
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.4;
    color: #fff;
    background: #262626;
    box-sizing: border-box;
    border: 10px solid #79ffd2;
    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: glow;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-name: glow;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateZ(0);
}

h1, h2, h3, h4, h5, h6 {
	color: #79ffd2;
	font-weight: normal;
	letter-spacing: 1px;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 19px;
}

p {
    font-size: 15px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus, .btn:hover
{
	border-color: rgba(121, 255, 210,0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(121, 255, 210,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(121, 255, 210,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(121, 255, 210,0.6);
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}   

button.sign-up {
	float: right;
}

.horizontal-spacer-bg {
	background: transparent url("../img/underline.png") 20px bottom no-repeat;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.form-wrapper-bg {
	background: rgba(255, 255, 255, 0.1);;
	height: 95px;
    padding-top: 5px;
	margin-top: 50px;
}
  
header.container {
	min-height: 96px;
}

header.container .row {
	margin-top: 30px;
}

header.container .row.horizontal-spacer-bg {
	margin-bottom: 20px;
}

section.container {
}

div.sign-up-form {
	margin-top: 20px;
}
   
div.sign-up-form span {
	display: inline-block;
	width: 110px;
	font-size: 18px;
	margin-right: 10px;
}

div.sign-up-form input {
	vertical-align: text-bottom;
	margin: 0 10px;
}

div.sign-up-form input[type=text] {
	background-color: #1a1a1a;
	color: #fff;
	border: none;
	padding: 12px 10px;
    width: 280px;
    height: 21px;
}

div.sign-up-form .btn {
	background: #79ffd2;
	color: #282828;
    width: 140px;
    height: 45px;
}

#features {
	margin-top: 45px;
}

#features .span3 {
	padding-bottom: 38px;
	background-position: left bottom;
}

#features .span3#sdk {
}

.featureicon {
	color: #4c83d6;
	font-size: 56px;
}

#features h2 {
	line-height: 30px;
    margin-top: 0;
}

#features p {
	line-height:20px;
}

.parallax-viewport {
	position: absolute;
	left: 50%;
	z-index: 0;
	width: 1000px;
	height: 1000px;
	margin-left: -500px;
	overflow: hidden;
}

.parallax-layer {
	position: absolute;
	left: 0;
	z-index: 0;
}

.small-circle {
    background: transparent url(../img/circle_small.png) 0 0 no-repeat;
	width: 375px;
	height: 375px;
	top: -75px;
}

.big-circle {
    background: transparent url(../img/circle_big.png) 0 0 no-repeat;
	width: 724px;
	height: 721px;
	top: 75px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
